<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">


	<!-- We use the Spring DelegatingFilterProxy so the beans are wired in to the filter -->
	<filter>
		<filter-name>enhancedSecurityModelFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>enhancedSecurityModelFilter</filter-name>
		<url-pattern>/3/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
</web-app>
